@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 5px 5px rgba(0, 0, 0, 0.2);
}


.main-content{
    width: 75%;
    height: 5%;
    font-size: 1rem;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    
    border-radius: 100px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 5px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

#logo{
    height: 4rem;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 50px;
}

#option{
    height: 2.5rem;
    border-radius: 10%;
}

h1{
    font-size: 1rem;
    color: darkgreen;
}